
<div *ngIf="meteo">
    <h2><span jhiTranslate="projetWeekendApp.meteo.detail.title">Meteo</span> {{meteo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="projetWeekendApp.meteo.celsiusMin">Celsius Min</span></dt>
        <dd>
            <span>{{meteo.celsiusMin}}</span>
        </dd>
        <dt><span jhiTranslate="projetWeekendApp.meteo.celsiusMax">Celsius Max</span></dt>
        <dd>
            <span>{{meteo.celsiusMax}}</span>
        </dd>
        <dt><span jhiTranslate="projetWeekendApp.meteo.updated">Updated</span></dt>
        <dd>
            <span>{{meteo.updated | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="projetWeekendApp.meteo.celsiusAverage">Celsius Average</span></dt>
        <dd>
            <span>{{meteo.celsiusAverage}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'meteo/'+ meteo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
