
<div *ngIf="pratique">
    <h2><span jhiTranslate="projetWeekendApp.pratique.detail.title">Pratique</span> {{pratique.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="projetWeekendApp.pratique.activite">Activite</span></dt>
        <dd>
            <div *ngIf="pratique.activite">
                <a [routerLink]="['/activite', pratique.activite?.id]">{{pratique.activite?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="projetWeekendApp.pratique.owner">Owner</span></dt>
        <dd>
            {{pratique.owner?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pratique/'+ pratique.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
